---
import { Image } from "astro:assets";
import { z } from "astro:schema";
import { getEntry, type CollectionEntry } from "astro:content";
import { groups } from "~/util/products";

import RSSButton from "~/components/RSSButton.astro";
import ProductSelect from "~/components/changelog/ProductSelect";
import HeroImage from "~/assets/images/changelog/hero.svg";

type Props = z.input<typeof props>;

const props = z.object({
	notes: z.any().array().default([]),
});

const { notes } = props.parse(Astro.props);

async function uniqueProducts(notes: Array<CollectionEntry<"changelog">>) {
	const unique = [
		...new Set(notes.flatMap((e) => e.data.products.map((p) => p.id))),
	];

	return Promise.all(
		unique.map(async (product) => {
			return getEntry("products", product)!;
		}),
	);
}

const products = await uniqueProducts(notes);
---

<div
	id="changelogHeader"
	class="mt-0! mb-16 ml-[calc(50%-50vw)] flex w-screen items-center justify-evenly border-b-2 border-b-(--sl-color-hairline) bg-linear-to-r from-[#FFE9CB99] to-[#FFFFFF99] p-4 max-sm:flex-col-reverse sm:h-[18.75rem] dark:from-[#FBAD411F] dark:to-[#2C2C2C00]"
>
	<div class="text-center sm:text-left">
		<h1>Changelog</h1>
		<p>New updates and improvements at Cloudflare.</p>
		<p>
			<RSSButton changelog="index" />
			<br />
			<RSSButton
				href="/fundamentals/new-features/available-rss-feeds/"
				text="View all RSS feeds"
				icon="right-caret"
			/>
		</p>
		<div class="not-content">
			{
				products.length > 0 && (
					<ProductSelect client:load products={products} groups={groups} />
				)
			}
		</div>
	</div>
	<Image src={HeroImage} alt="hero image" height="240" class="mt-0!" />
</div>

<style is:global>
	.sl-markdown-content {
		margin-top: 0px !important;
	}

	.content-panel {
		padding-top: 0 !important;
		overflow-x: hidden;
	}

	.changelog-rss-links {
		display: flex;
		justify-content: space-between;
		margin-top: 0.25em !important;
	}

	@media (max-width: 640px) {
		.changelog-rss-links {
			flex-direction: column;
		}
	}
</style>
